
body {
    background-color: brown; /* It doesn't matter now that javascript's there*/
    color: white;
    font-size:20px;
    /* To center the webpage */
    width: 80%;
    margin: 0 auto;
    
}

h2 {
    text-align:center;
}

h1 {
    text-align:center;
}

.warning {
    color: yellowgreen;
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
}

#vscode{
    margin-left: 40px;
}